body {
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header {
	background-image: none;
	min-height: auto;
}

a {
    color: #d0e7f9;
}

a:hover,
a:focus {
    color: #d0e7f9;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #d0e7f9;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #d0e7f9;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #d0e7f9!important;
}

.navbar-default.affix {
    background-color: #646056;
}

.navbar-default.affix .navbar-header .navbar-brand {
    color: #f8f8f7;
}

.navbar-default.affix .nav > li>a,
.navbar-default.affix .nav>li>a:focus {
    color: #f8f8f7;
}

.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #d0e7f9;
}

.navbar-default.affix .nav > li>a:hover,
.navbar-default.affix .nav>li>a:focus:hover {
    color: #d0e7f9;
}

@media(max-width:768px) {
    .navbar-default {
        background-color: #646056;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: #f8f8f7;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #d0e7f9;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #f8f8f7;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #d0e7f9;
    }
}


.bg-primary {
    background-color: #f8f8f7;
    color: #646056;
}

hr.light {
    border-color: #d0e7f9;
}

.portfolio-box .portfolio-box-caption {
    background: rgba(208,231,249,.9);
    color: #646056;
}

#contact {
    background-color: #646056;
    color: #f8f8f7;
}
