/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
	color: #646056;
}

.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

.navbar-default {
	background-color: #646056;
	border-color: #d0e7f9;
}

.navbar-default .navbar-brand {
	color: #f8f8f7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #d0e7f9;
}

.navbar-default .navbar-nav > li > a {
    color: #f8f8f7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d0e7f9;
 }
 
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
     color: #d0e7f9;
     background-color: #646056;
}
 
.dropdown-menu {
	background-color: #646056;
}

.dropdown-menu > li > a {
	color: #f8f8f7;
}

.dropdown-menu > li > a:hover {
	background-color: #646056;
	color: #d0e7f9;
}

.dropdown-menu .divider {
    background-color: #d0e7f9;
}

.dropdown-header {
	color: #f8f8f7;
}

.container-fluid:nth-of-type(1) {
	padding: 0;
}

.page-header {
	border: none;
}

.carousel {
    padding-top: 11px;
}

#header {
	padding-bottom: 40px;
}

h1 {
	color: #646056;
}